*.csv
*.json
*.pdf
*.txt
*.xlsx
*.save
*.swp
*.tsv
*.zip
*.h5ad
.Rhistory
annotations/HPA-nclusters
annotations/TabulaSapiens-nclusters
annotations/cluster-annotation/
annotations/HPO/HPA-genes-ENSEMBL
annotations/HPO/HPA-gene-symbols
annotations/HPO/hpo-id-to-name
annotations/HPO/TabulaSapiens-genes-ENSEMBL
annotations/HPO/TabulaSapiens-genes-GeneSymbol
annotations/UBERON/HPA-tissues-uberon
annotations/UBERON/TabulaSapiens-tissues-uberon
annotations/UBERON/results/
coex-analysis/HPA/
coex-analysis/TabulaSapiens/
HPA/results/*/
TabulaSapiens/*/
test-TiPA/*/