.~lock.*
*.log
*.RDS
*.csv
*.json
*.pdf
*.txt
*.xlsx
*.save
*.swp
*.tsv
*.zip
*.h5ad
.Rhistory
scp-commands.sh
coex-analysis/
annotations/HPA-nclusters
annotations/TabulaSapiens-nclusters
annotations/cluster-annotation/
annotations/HPO/HPA-genes-ENSEMBL
annotations/HPO/HPA-gene-symbols
annotations/HPO/hpo-id-to-name
annotations/HPO/TabulaSapiens-genes-ENSEMBL
annotations/HPO/TabulaSapiens-genes-GeneSymbol
annotations/UBERON/HPA-tissues-uberon
annotations/UBERON/TabulaSapiens-tissues-uberon
annotations/UBERON/results/
coex-analysis/HPA/
coex-analysis/TabulaSapiens/
datasets/
HPA/results/*/
TabulaSapiens/
test-TiPA/*/
HPA/extract-dataset-v2.sh
annotations/HPO/parent-terms.py
annotations/HPO/entrez-HPO-TabulaSapiens.py
annotations/HPO/hpo-children-terms.py
annotations/HPO/ENSEMBL-to-gene-symbol.R
annotations/UBERON/children-terms-syn.py
annotations/UBERON/run-children-terms-syn.sh
annotations/comention/coment_filter.R
annotations/comention/add_tissue.R
annotations/comention/hpo_coment_to_unfiltered.R
annotations/metrics/bonferroni.R
annotations/scatter_genes
fold_change/TiPA-main
fold_change/DEA.R
fold_change/DEsingle.R
fold_change/FC-data.R
fold_change/plot_tipa.R
fold_change/sc_fold_change.R
annotations/coex-nclusters.ods
